@charset "UTF-8";
@import url("./pc_en.css?20200407") screen and (min-width: 701px);
@import url("./sp_en.css?20200407") screen and (max-width: 700px);
/* ------------------------------------
  transiton
------------------------------------ */

.tra03 {
    -webkit-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.tra05 {
    -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.tra08 {
    -webkit-transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.tra10 {
    -webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.tra15 {
    -webkit-transition: all 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.tra20 {
    -webkit-transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.tra30 {
    -webkit-transition: all 3000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 3000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.loaded .tra50 {
    -webkit-transition: all 5000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 5000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.loaded .delay01 {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
}

.loaded .delay02 {
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms;
}

.loaded .delay03 {
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
}

.loaded .delay04 {
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}

.loaded .delay05 {
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
}

.loaded .delay06 {
    -webkit-transition-delay: 600ms;
    transition-delay: 600ms;
}

.loaded .delay08 {
    -webkit-transition-delay: 800ms;
    transition-delay: 800ms;
}

/* ------------------------------------
  font
------------------------------------ */

.f_hel {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}

/* ------------------------------------
  animation
------------------------------------ */

.js-appear,
.js-appear_h {
    -webkit-transform: translate3d(0 25px, 0);
    transform: translate3d(0, 25px, 0);
    opacity: 0;
}

.on.js-appear,
.on .js-appear_h {
    -webkit-transform: translate3d(0 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

/* ------------------------------------
  #load
------------------------------------ */

#load {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #1c1c1c;
    pointer-events: none;
}

#load #sign {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#load #sign {
    opacity: 0;
}

#load.on #sign {
    opacity: 1;
    -webkit-transition: all 3000ms ease;
    transition: all 3000ms ease;
}

#load.on2 #sign {
    opacity: 0;
    -webkit-transition: all 3000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 3000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

#sign img {
    width: auto;
    height: 82px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

/* ------------------------------------
  #ajax_area
------------------------------------ */

#ajax_area {
    opacity: 0;
    -webkit-transition: opacity 800ms linear;
    transition: opacity 800ms linear;
}

#ajax_area.active {
    opacity: 1;
    -webkit-transition: opacity 1200ms linear;
    transition: opacity 1200ms linear;
}

/* ------------------------------------
  #block_menu
------------------------------------ */

#block_menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 450;
    background-color: #fff;
    display: none;
}

#block_menu .center ul {
    width: 171px;
    opacity: 0;
    margin: 0 auto;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

#block_menu.on .center ul {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#block_menu .center li {
    height: 28px;
    margin: 0 auto;
    padding: 21px 0 22px 0;
}

#block_menu .center li a {
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

#block_menu .center li.m1 a {
    width: 106px;
    background-image: url("../img/txt_menu_1.png");
}

#block_menu .center li.m2 a {
    width: 125px;
    background-image: url("../img/txt_menu_2.png");
}

#block_menu .center li.m3 a {
    width: 117px;
    background-image: url("../img/txt_menu_3.png");
}

#block_menu .center li.m4 a {
    width: 153px;
    background-image: url("../img/txt_menu_4.png");
}

#block_menu .center li.m5 a {
    width: 135px;
    background-image: url("../img/txt_menu_5.png");
}

#block_menu .center li.m6 a {
    width: 171px;
    background-image: url("../img/txt_menu_6.png");
}

#block_menu .center li.m7 a {
    width: 99px;
    background-image: url("../img/txt_menu_7.png");
}

@media screen and (max-height: 600px) {
    #block_menu .center li {
        padding: 16px 0 17px 0;
    }
}

@media screen and (min-height: 500px) {
    #block_menu .center {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        margin-top: 10px;
    }
}

@media screen and (max-height: 500px) {
    #block_menu .center {
        padding: 100px 0 80px 0;
    }
    #block_menu {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

/* ------------------------------------
  slide
------------------------------------ */

.bx-wrapper {
    position: relative;
}

.bxslider {
    margin: 0;
    padding: 0;
}

ul.bxslider {
    list-style: none;
}

#fv .bx-viewport {
    height: 100% !important;
}

.slide li .pic,
.slide li .vimeo {
    transition: 2000ms ease-out;
    -webkit-transition-property: filter;
    transition-property: filter;
    //  -webkit-filter: brightness(1.5);
    //  filter: brightness(1.5);
}

.slide li.on .pic,
.slide li.on .vimeo {
    -webkit-filter: brightness(1) !important;
    filter: brightness(1) !important;
}

.bx-wrapper .bx-prev {
    background-image: url("../img/icn_slide_prev.png");
}

.bx-wrapper .bx-next {
    background-image: url("../img/icn_slide_next.png");
}

.bx-wrapper .bx-controls-direction a {
    outline: 0;
    text-indent: -9999px;
    z-index: 100;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.bx-wrapper .bx-controls-direction a:hover {
    cursor: pointer;
    opacity: 0.5;
}